{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!{% endblock %}

{% block body %}
<h1> Liste des animaux légers </h1>

{% for animal in animauxLeger %}

<p>{{animal.nom}} du poids de {{animal.poids}} kg</p>

{% endfor %}
{% endblock %}
