{% extends 'base.html.twig' %}

{% block title %}Hello AdminAnimalController!{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_widget(form) }}
<input type = "submit" value = "enregistrer">
{{ form_end(form)}}

{#<div>{{ form_row(form.nom, {'attr': {'class' : 'uneClasse'}, "label":"Nom de l'aliment" }) }}</div>#}
{% endblock %}
